.img {
  width: 350px;
  height: 250px;
}

.gallery-image {
  border: solid 1px rgb(129, 116, 160);
  border-radius: 4px;
  box-shadow: -3px 5px 25px rgb(168, 136, 181);
}

.search-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(239, 182, 200);
}

.input {
  display: flex;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-color: transparent;
}

.submit-btn {
  cursor: pointer;
  color: #710505;
  border-color: transparent;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 80px;
}

.photo-card {
  max-width: 350px;
}

.info {
  border-radius: 4px;
  box-shadow: -1px 5px 31px 10px rgb(168, 136, 181);
  margin-top: 20px;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3px;
  font-size: 16px;
  font-weight: 250;
  margin: 5px;
}

.load-more {
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  color: #710505;
  background-color: rgb(255, 210, 160);
}
.load-more-hidden {
  display: none;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
